/* General group page styling */
.biodata-page {
    background-color: #3a3535;
    padding: 40px;
    text-align: center;
}

.biodata-page h2 {
    font-size: 28px;
    font-weight: bold;
    color:white;
}
.biodata-page h3 {
    font-size: 28px;
    font-weight: bold;
    color:white;
}

.biodata-page p {
    font-size: 18px;
    color: white;
    margin-top: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Additional styling for content */
.biodata-page img {
    width: 100px; /* Reduced size */
    height: 100px; /* Reduced size */
    border-radius: 50%; /* Circular shape */
    margin-bottom: 20px;
}